# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- Common tools used in Data Science
- Data Science libraries

Some of the popular languages that Data Scientists use are:  
1. Python  
2. R  
3. SQL  
4. Julia

Some of the commonly used libraries used by Data Scientists include:  
1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn

| Data Science Tools        |  
|---------------------------|  
| Jupyter Notebook          |  
| RStudio                   |  
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print(result)

17

In [7]:
 #This will convert 200 minutes to hours by diving by 60
total_number_of_minutes=200
minutes_to_hours= 200/60
print(minutes_to_hours)

3.3333333333333335

## Author
Mebrahtom Beraki